<head>
    <title>Profile</title>
	<script src="https://kit.fontawesome.com/b19200b50e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

	<div id="header">
		<h1 id="relectlogo">RELECT: recall your dialects!</h1>
        <div>
            <ul id="navbar">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('upload') }}">Share A Phrase</a></li>
                <li><a href="{{ url_for('search') }}">Search User</a></li>
            </ul>
        </div>
    </div>
	
	<section class="centralise">
		<h2 id="pageheader">Hello, {{user}}!</h2>
		<p>Here are the recordings that you have contributed to the dialect base! Thank you so much!</p>

		<table class="normal-table">
			<tr>
				<th>Dialect</th>
				<th>Phrase</th>
				<th>Voice</th>
			</tr>
			{% for row in records %}
			<tr>
				<td>{{ row[0] }}</td>
				<td>{{ row[1] }}</td>
				<td><a href={{ row[2] }} target="_blank" rel="noopener" rel="noreferrer"><i class="fa-solid fa-play"></i></a></td>
			</tr>
			{% endfor %}
		</table>
	</section>
	
    <section class="centralise">
		<h3 id="pageheader"><i>Thank you notes~</i></h3>
		<table class="normal-table">
			<tr>
				<th>Comments</th>
				<th>Sender</th>
			</tr>
			{% for row in thanks %}
			<tr>
				<td>{{ row[0] }}</td>
				<td>{{ row[1] }}</td>
			</tr>
			{% endfor %}
		</table>
	</section>
	
	<section class="footer">
		<p>© zixuanvtzx</p>
	</section>
	
</body>

</html>